@model List<LicencePlateFinder.Models.Licence_plate>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Licence plate finder
    </h1>

    <form action="/search" method="get">
        <label for="q">Plate: </label>
        <input type="text" id="q" name="q" />
        <button type="submit">Search</button><br/><br />
    </form>

    <a href="/search?police=1">Police cars only</a><br /><br />
    <a href="/search?diplomat=1">Diplomat cars only</a><br /><br />

    <table border="1">
        <tr>
            <td>
                Licence plate
            </td>
            <td>
                Brand
            </td>
            <td>
                Model
            </td>
            <td>
                Color
            </td>
            <td>
                Year
            </td>
        </tr>
        @{
            foreach (var plate in Model)
            {
                <tr>
                    <td>
                        @plate.Plate
                    </td>
                    <td>
                        <a href="/search/@plate.Car_brand">@plate.Car_brand</a>
                    </td>
                    <td>
                        @plate.Car_model
                    </td>
                    <td>
                        @plate.Color
                    </td>
                    <td>
                        @plate.Year
                    </td>
                </tr>
            }
        }
    </table>

    

</body>
</html>